<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Caruselul Literelor!!</title>
    <script src="angular.min.js"></script>
    <script src="caruselCtrl.js"></script>
    <link href="carusel.css" rel="stylesheet">
</head>
<body>
  	<div ng-controller="caruselCtrl" id="mare">
        <h1></br></br>Caruselul Literelor !</h1>
        <div id="info"></br>
            <button ng-click="singlePlayer()" id="special2">
                <a href="single.html"> SinglePlayer </a>
            </button>
            <button ng-click="multiPlayer()" id="special1">
                <a href="multi.html"> MultiPlayer </a>
            </button>
            </br>
            </br>
        </div>
        </br>
        <img src="wet-dice-black-red.jpg">
  	</div>
</body>
</html>